# === Xcode ===
xcuserdata/
*.xcuserstate
*.xcuserdatad
*.xccheckout
*.xcscmblueprint

# === Build products ===
build/
Derived/
DerivedData/

# === SwiftPM ===
.swiftpm/
.build/
Package.resolved

# === CocoaPods ===
Pods/
Podfile.lock

# === Carthage ===
Carthage/Build/

# === Fastlane ===
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# === Archives ===
*.xcarchive

# === Temporary / Logs ===
*.moved-aside
*.ipa
*.ds_store

# === Playground ===
timeline.xctimeline
playground.xcworkspace

# === Tuist generated ===
**/.tuist-cache/


